body {
    background-color: #232323;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom:30%;
    margin: 1.66%;
    float: left;
}
#container {
    max-width: 550px;
    margin:0 auto;
}
h1 {
    color: white;
}